
<div class="row align-items-center" style="height: 60vh;">
  <div class="col-6">
      <div class="container" style="max-width: 500px;">
        <h3 class="mb-3 mt-5 text-center">Adicionar Produto</h3>

        <div class="form-group">
          <label>Nome</label>
          <input type="text" [(ngModel)]="prodObj.nome" class="form-control" placeholder="Nome">
        </div>

        <div class="form-group">
          <label>Preço</label>
          <input type="text" [(ngModel)]="prodObj.preco" class="form-control" placeholder="Preço">
        </div>

        <div class="form-group">
          <label>Quantidade</label>
          <input type="text" [(ngModel)]="prodObj.quantidade" class="form-control" placeholder="Quantidade">
        </div>

        <div class="form-group">
          <button class="btn btn-success btn-lg btn-block" (click)="addProduto(prodObj)">Adicionar Produto</button>
        </div>
      </div>
  </div>
  </div>
