<app-navigationbar></app-navigationbar>
<div class="container-fluid hero-page">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="container mt-5 pt-5 pb-5 mb-5">
  <div class="row align-items-center justify-content-around"
    style="height: 60vh;">

  </div>
</div>
<footer class="bg-dark" style="min-height: 10vh;">
  <div
    class="row justify-content-center align-items-center p-0 m-0"
    style="min-height: 10vh;">
    <div class="col-12 text-center">
      <p style="color: #fff;">Copyright © 2020</p>
    </div>
  </div>
</footer>
